
.usuarios{
    position: relative;
    height: 100%;
}

.usuarios .estado{
    background-color: grey;
    padding: 1px 3px;
    color: white;
    width: fit-content;
    border-radius: 5px;
    font-weight: bold;
}
.usuarios .estado.desactivo{
    background-color: red;
}
.usuarios .estado.activo{
    background-color: #28b463;
}


.usuarios .select-filtros{
    border-radius: 10px;
}

.usuarios .form-group{
    display: flex;
    flex-direction: column;
}
.usuarios .form-group .label-input{
    font-size: 12px;
    font-weight: bold;
}
.usuarios .form-group .label-error{
    font-size: 12px;
    color: red;

}


.usuarios .cont-form-contenido{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    background-color: var(--contenido-color);
    border-radius: 10px;
    border: 2px solid #512da8;
    transform: translateY(-50%) translateX(-50%);

    
    
    
}



.form-crear-user{
    width: 350px;
    height: auto;

    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;

    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}


.usuarios .cont-titulo-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.usuarios .titulo-form{
    color: #3175da;
    font-size: 18px;
}
.usuarios .icono-cerrar{
    cursor: pointer;
    color: grey;
    font-size: 30px;
}
.usuarios .icono-cerrar:hover{
    color: red;
}   

.usuarios .cont-tipo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    color: grey;
    font-size: 14px;
}

.usuarios .imput{
    height: 35px;
    border-radius: 10px;
    border: 1px solid grey;
    padding: 0 10px;
    font-size: 12px;
}
.usuarios .imput.error{
    border: 1px solid red;

}

.usuarios .boton-submit{
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: #28b463;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    outline: none;
}

.usuarios .boton-submit:hover{
    opacity: .8;
    scale: 1.02;
}
