.habitaciones{
    height: inherit;
}

.habitaciones .estado{
    background-color: grey;
    padding: 1px 3px;
    color: white;
    width: fit-content;
    border-radius: 5px;
    font-weight: bold;
}
.habitaciones .estado.disponible{
    background-color: #28B463;
}
.habitaciones .estado.limpieza{
    background-color: #3498DB;
}
.habitaciones .estado.ocupada{
    background-color: #E74C3C;
}

.habitaciones .select-filtros{
    border-radius: 10px;
}

/* FORMULARIO */

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group .label-input {
    font-size: 12px;
    font-weight: bold;
}

.form-group .label-error {
    font-size: 12px;
    color: red;

}

.cont-form-contenido {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    background-color: var(--contenido-color);
    border-radius: 10px;
    border: 2px solid #512da8;
    transform: translateY(-50%) translateX(-50%);
}

.form-contenido {
    width: 350px;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}


.cont-titulo-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-form {
    color: #3175da;
    font-size: 18px;
}

.icono-cerrar {
    cursor: pointer;
    color: grey;
    font-size: 30px;
}

.icono-cerrar:hover {
    color: red;
}

.cont-tipo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    color: grey;
    font-size: 14px;
}

.imput {
    height: 35px;
    border-radius: 10px;
    border: 1px solid grey;
    padding: 0 10px;
    font-size: 12px;
}

.imput.error {
    border: 1px solid red;

}

.boton-submit {
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: #28b463;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    outline: none;
}

.boton-submit:hover {
    opacity: .8;
    scale: 1.02;
}