
    .form-group{
        display: flex;
        flex-direction: column;
    }
    .form-group .label-input{
        font-size: 12px;
        font-weight: bold;
    }
    .form-group .label-error{
        font-size: 12px;
        color: red;

    }

    .cont-form-contenido{
        display: flex;
        align-items: center;
        justify-content: center;
        /* position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; */

        /* z-index: 99;
        opacity: 0; */
        /* pointer-events: none; */
        transition: opacity .6s;
        
    }

    /* .cont-form-contenido.activo{

        opacity: 1;
        pointer-events: unset;
        transition: opacity .6s;
    } */

    .form-contenido{
        width: 350px;
        height: auto;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
        transform: translateY(-100vh);
        transition: transform .5s;
        
    }
    .cont-form-contenido.activo .form-contenido{
        transform: translateY(0);
    }


    .cont-titulo-form{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
    }
    .titulo-form{
        color: #3175da;
    }
    .icono-cerrar{
        cursor: pointer;
        color: grey;
        font-size: 30px;
    }
    .icono-cerrar:hover{
        color: red;
    }   

    .cont-direccion{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;
        color: grey;
        font-size: 14px;
    }

    .imput{
        height: 35px;
        border-radius: 10px;
        border: 1px solid grey;
        padding: 0 10px;
    }
    .imput.error{
        border: 1px solid red;
  
    }
    .opcion{
        cursor: pointer;
    }

    .boton-submit{
        height: 35px;
        border-radius: 10px;
        border: none;
        background-color: #28b463;
        color: white;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        outline: none;
    }

    .boton-submit:hover{
        opacity: .8;
        scale: 1.02;
    }

