.vender {
  padding: 10px;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: auto;
  gap: 10px;
}

.vender-cont-datos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.venta-seccion {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  border: 1px solid grey;
  border-bottom: 5px solid #614BC3;
  width: 300px;
  flex-grow: 1;
  flex-basis: 200;
}

/* TABLA */


.venta-seccion table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}

.venta-seccion th,
.venta-seccion td {
  border: none;
  padding: 5px;
  text-align: left;
}


/* PRODUCTO CARRITO */


.cont-prod-carr {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}



.vender .titulo {
  font-size: 14px;
}

.vender .productos {
  flex: 1;
  height: fit-content;
  border-radius: 10px;
  padding: 10px;
  overflow: auto;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
}

.vender .producto {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  background-color: var(--tabla-color);
  border: 1px solid #ddd;
  border-radius: 5px;

}

.vender .carrito {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
  border-radius: 5px;
  overflow: auto;
  padding: 10px;
  flex: 1;
  height: fit-content;
}

.venta-seccion-titulo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: bold;
  color: var(--titulo-contenido-color);
}

.carrito-lista {
  overflow: auto;
  list-style-type: none;
  padding: 0;
}

.vender .carrito h3,
.carrito h4 {
  margin-bottom: 10px;
}

.vender .carrito li {
  display: flex;
  padding: 10px;
  background-color: var(--tabla-color);
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 5px;
  justify-content: space-between;
}


/* BOTONES */

.vender .boton-venta {
  display: block;
  width: 100%;
  height: fit-content;
  padding: 5px;
  background-color: #28B463;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;

  transition: background-color 0.3s;
}

.vender .boton-venta:hover {
  background-color: #e64a19;
}

.venta-boton-accion {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: auto;
  border: none;
  background-color: var(--titulo-contenido-color);
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.venta-boton-accion.eliminar{
  background-color: red;
}